<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="../public/styles/index.css">
</head>
<body>
    <main>
        <div class="navbar">
            <div class="navbar__wrapper">
                <nav class="navbar__menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <button id="logoutButton" style="display: none;">Logout</button>
                        <button id="loginButton" style="display: none;"><a href="/login">Login</a></button>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="title_wrapper">
            <h1 class="title">Carrinho de Compras</h1>
        </div>
        
        <section>
            <% if (cartProducts.length > 0) { %>
                <ul>
                    <% cartProducts.forEach((product, index) => { %>
                        <li class="cart-item">
                            <strong>Nome:</strong> <%= product.name %><br>
                            <strong>Preço Unitário:</strong> <%= product.price %> €<br>
                            <strong>Quantidade:</strong> <%= product.quantity %><br>
                            <strong>Total:</strong> <%= (product.price * product.quantity).toFixed(2) %> €
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>O seu carrinho está vazio.</p>
            <% } %>
        </section> 

        <section>
            <h2>Total a Pagar: <span id="grand-total"><%= total.toFixed(2) %> €</span></h2>
        </section>
        
        <button><a href="/">Voltar</a></button>
        <button onclick="checkout()">Checkout</button>

    </main>

    
<!-- mostrar carrinho -->
<script src="../public/js/cartData.js"></script>
<!-- login+logout btn funtion -->
<script src="../public/js/logBtn.js"></script>
<!-- lohout -->
<script src="../public/js/logout.js"></script>
</body>
</html>
