<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products: <%= categorie.name %></title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="../public/styles/index.css">
</head>
<body>
    <main> 
        <div class="navbar">
            <div class="navbar__wrapper">
                <nav class="navbar__menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <button id="logoutButton" style="display: none;">Logout</button>
                        <button id="loginButton" style="display: none;"><a href="/login">Login</a></button>
                        <li><button onclick="viewCart()">Ver Carrinho</button></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="title_container">   
            <h2 class="title"><%= categorie.name %></h2>  
            <p class="description"><%= categorie.description %></p>
        </div>

        <section class="product-list">
            <% products.forEach((product, index) => { %>
                <li class="product-item card" data-price="<%= product.price %>" data-id="<%= product.id %>">
                    <strong>Nome:</strong> <%= product.name %><br>
                    <strong>Preço:</strong> <%= product.price %> €<br>
                    
                    <img src="https://blog.bancadoramon.com.br/wp-content/uploads/2023/10/ceia-de-natal-1.jpg" alt="<%= product.name %>" class="product-image">
                    
                    <label for="quantity-<%= index %>">Quantidade:</label>
                    <input type="number" id="quantity-<%= index %>" min="1" value="0" >
                    
                    <button onclick="collectCartData()">Adicionar ao Carrinho</button>
                </li>
            <% }) %>
        </section> 
        
        <div class='footer_container'>
            <footer>
                <hr class="hr"/>
                <p class='footer_info'>© Copyright 2024 Olga Lemos - Parabéns | <small>Todos os direitos reservados</small></p>
                <p class='footer_info'>
                    Rua dos Namorados, nº 242 3750-722 — Recardães <br> 
                    Aveiro - Portugal <br> 
                    +351 933 251 197 (Custo chamada para rede fixa nacional)
                </p>
            </footer> 
        </div>         
    </main>

<!-- mostrar carrinho -->
<script src="../public/js/cartData.js"></script>
<!-- login+logout btn function -->
<script src="../public/js/logBtn.js"></script>
<!-- logout -->
<script src="../public/js/logout.js"></script>
</body>
</html>