<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products: <%= categorie.name %></title>
    <link rel="stylesheet" href="styles/products.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
        * {
            margin: 0;
            padding: 0;
            border: none;
            box-sizing: border-box;
        }

        body {
            width: 100vw;
            font-family: "Cormorant Garamond", serif; 
            font-weight: 300;
            font-style: normal;
            background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        }

         /* navbar */
         .navbar {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            padding: 1rem 2rem;
            backdrop-filter: blur(4px);
        }

        .navbar__wrapper {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
        }

        .navbar__menu ul li {
            display: inline-block;
        }

        li a {
            list-style: none;
	        text-decoration: none;
            padding: 1rem;
            color: #000;
            font-size: 1rem;
            text-transform: uppercase;
        }

        a:hover {
            color: palevioletred;
        }

        /* titulo + descrição */
        .title_container {
            text-align: center;
            margin-top: 4rem;
        }

        .title {
            font-size: 2rem;
            padding: 1rem 0;
        }

        .description {
            margin-top: 0.5rem;
            font-size: 1.2rem;
            color: #666;
        }

        /*produtos */
        .product-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 2rem;
            gap: 1.5rem;
        }

        .product-item.card {
            background-color: #f4f4f4;
            padding: 1.5rem;
            width: 200px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .product-item.card strong {
            font-size: 1rem;
            color: #333;
        }

        /* img produto */
        .product-image {
            width: 100%;
            height: auto;
            margin: 1rem 0;
            border-radius: 5px;
        }

        /* butões */
        .product-item.card input[type="number"] {
            margin: 0.5rem 0;
            width: 60px;
            padding: 0.3rem;
        }

        .product-item.card button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 0.5rem;
            border-radius: 4px;
            cursor: pointer;
            font-size: 0.9rem;
            margin-top: 0.5rem;
        }

        .product-item.card button:hover {
            background-color: #0056b3;
        }

        
      /* footer */
      .hr {
            height: 1px;
            width: 35rem;
            background: #402412;
            opacity: 1;
        }

       .footer_container{
            width: 100%;
            position: relative;
            margin-top: 2rem;
        }

        footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;
        }

        .footer_info {
            margin: 1em;
            color: #402412;
            text-align: center;
            line-height: 25px;
        }

        /* RWD */
        @media (max-width: 600px) {
            .hr {
                width: 20rem;
            }
            .footer_info {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
        }
    </style>
</head>
<body>
    <main> 
        <div class="navbar">
            <div class="navbar__wrapper">
                <nav class="navbar__menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/register">Criar conta</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="title_container">   
            <h1 class="title"><%= categorie.name %></h1>  
            <p class="description"><%= categorie.description %></p>
        </div>

        <section class="product-list">
            <% products.forEach((product, index) => { %>
                <li class="product-item card" data-price="<%= product.price %>" data-id="<%= product.id %>">
                    <strong>Nome:</strong> <%= product.name %><br>
                    <strong>Preço:</strong> <%= product.price %> €<br>
                    
                    <img src="https://blog.bancadoramon.com.br/wp-content/uploads/2023/10/ceia-de-natal-1.jpg" alt="<%= product.name %>" class="product-image">
                    
                    <label for="quantity-<%= index %>">Quantidade:</label>
                    <input type="number" id="quantity-<%= index %>" min="1" value="0" oninput="updateGrandTotal()">
                    
                    <button onclick="collectCartData()">Adicionar ao Carrinho</button>
                </li>
            <% }) %>
        </section> 
        
        <div class='footer_container'>
            <footer>
                <hr class="hr"/>
                <p class='footer_info'>© Copyright 2024 Olga Lemos - Parabéns | <small>Todos os direitos reservados</small></p>
                <p class='footer_info'>
                    Rua dos Namorados, nº 242 3750-722 — Recardães <br> 
                    Aveiro - Portugal <br> 
                    +351 933 251 197 (Custo chamada para rede fixa nacional)
                </p>
            </footer> 
        </div>         
    </main>
    <script>window.onload = updateGrandTotal;</script>

    <script>
        function updateGrandTotal() {
            let grandTotal = 0;
            document.querySelectorAll('.product-item').forEach((item, index) => {
                const price = parseFloat(item.dataset.price);
                const quantity = parseInt(document.getElementById(`quantity-${index}`).value) || 0;
                grandTotal += price * quantity;
            });
            document.getElementById('grand-total').textContent = `${grandTotal.toFixed(2)} €`;
        }
        
        function collectCartData() {
            const cartData = [];
            document.querySelectorAll('.product-item').forEach((item, index) => {
                const productId = item.dataset.id;
                const quantity = parseInt(document.getElementById(`quantity-${index}`).value) || 0;
                if (quantity > 0) {
                    cartData.push({ productId, quantity });
                }
            });

            const totalPrice = updateGrandTotal();
            fetch('/checkout', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ products: cartData, totalPrice: totalPrice })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); 
                })
                .then(data => {
                    alert("Pedido realizado com sucesso!");
                    window.location.href = "/confirmation";
                })
                .catch(error => {
                    console.error('Error during checkout:', error);
                    alert("Erro ao realizar pedido.");
                });
        }
    </script>
</body>
</html>
